.container-main-component {
	background-color: #fff;
	--child-text-heading-component-color: cyan;
	--child-text-paragraph-component-color: blue;
	--child-text-label-component-color: tomato;
	--child-text-reference-component-color: brown;
	--child-text-status-success-component-color: green;
	--child-text-status-warning-component-color: yellow;
	--child-text-status-error-component-color: red;
}
